---
// Get heading and content from Astro props
const { heading, content } = Astro.props;
// Define TypeScript interface for props
interface Props {
  heading?: string;
  content?: string;
}
// Define classes for heading and content
const headingClasses =
  "flex items-center gap-2 text-balance text-[21px] font-medium text-gray-700";
const contentClasses =
  "mt-1 text-pretty text-neutral-700 dark:text-neutral-300";
---

<!-- The root container that arranges the heading/content -->
<div>
  <!-- Heading of the section, icon slotted in on the left -->
  <h3 class={headingClasses}>
    <slot />
    {heading}
  </h3>
  <!-- Content text of the section -->
  <p class={contentClasses}>{content}</p>
</div>
