---
import HeadingIcon from "@components/ui/icons/HeadingIcon.astro";

// Define props from Astro
const { title, subTitle, benefits } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
  benefits?: Array<string>;
}

// Define SVG marker to be used in the component
const ListItemMarker: string = `<svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mt-0.5 h-6 w-6 text-magenta-500 dark:text-magenta-400 flex-none"><path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg>`;
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Content -->
  <div class="mx-auto max-w-2xl">
    <div class="space-y-6 sm:space-y-8">
      <div class="space-y-2 md:space-y-4">
        <h2
          class="text-balance text-3xl text-blue-darkest lg:text-4xl"
        >
          <HeadingIcon d="M19 21H5v-2h14v2ZM5 19H3V5h2v14Zm16 0h-2v-6h2v6Zm-11-7h2v2h2v2H8v-6h2v2Zm6 2h-2v-2h2v2Zm2-2h-2v-2h2v2Zm-6-2h-2V8h2v2Zm8 0h-2V8h2v2Zm-6-2h-2V6h2v2Zm8 0h-2V6h2v2Zm-6-2h-2V4h2v2Zm4 0h-2V4h2v2Zm-9-1H5V3h6v2Zm7-1h-2V2h2v2Z" />{title}
        </h2>
        {
          subTitle && (
            <p class="text-pretty text-neutral-600 dark:text-neutral-400">
              {subTitle}
            </p>
          )
        }
      </div>
      {
        benefits && (
          <ul class="space-y-2 sm:space-y-4">
            {benefits.map((item) => (
              <li class="flex space-x-3">
                <Fragment set:html={ListItemMarker} />
                <span class="text-pretty text-base font-medium text-neutral-600 dark:text-neutral-400">
                  {item}
                </span>
              </li>
            ))}
          </ul>
        )
      }
    </div>
  </div>
</section>
